.menu_navdropdown_title {
  display: inline-block;
}

.menu_navdropdown_icon_padding_right {
  padding-right: 5px;
}

.menu_navdropdown_color_green {
  color: green;
}

.products_hidden {
  display: none;
}